@tailwind base;
@tailwind components;
@tailwind utilities;

[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white {
  @apply pt-0 md:pt-0;
}

@font-face {
font-family: MintageRegular-51Knx;
src: url('../asset/mintage-font/MintageRegular-51Knx.ttf');
font-style: normal;
}
@font-face {
font-family: 'DM Sans', sans-serif;
src: url('../asset/DM_Sans/DMSans-Regular.ttf');
src: url('../asset/DM_Sans/DMSans-Bold.ttf');
font-style: normal;
}
.lilac-color {
  color: #E2B8E0;
}
.ink-color {
  color: #333333;
}
.lemon-color {
  color: #F8EA65;
}
.cloud-color {
  color: #DAE0F2;
}
.eggshell-color {
  color: #F6F5F0;
}
.white-color {
  color: #ffffff;
}
.bg-lilac-color {
  background-color: #E2B8E0;
}
.bg-dark-lilac-color {
  background-color: #dc8dd8;
}
.bg-ink-color {
  background-color: #333333;
}
.bg-lemon-color {
  background-color: #F8EA65;
}
.bg-cloud-color {
  background-color: #DAE0F2;
}
.bg-eggshell-color {
  background-color: #F6F5F0;
}
.bg-white-color {
  background-color: #ffffff;
}
.sh-lilac {
    --tw-shadow-color: #E2B8E0;
    --tw-shadow: var(--tw-shadow-colored)
}
.zegtec-logo {
  width: 250px;
  height: 50px;
}
h2 {
  font-family: MintageRegular-51Knx;
  font-size:60px;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
.mobile-h2 {
  font-size:36px;
}
}
p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}
.header{
  font-family: MintageRegular-51Knx;
  font-weight: 400;
}
.sub-header{
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}
.bold {
  font-weight: 900;
}
.section-bg {
  background-image: url('/bg-1.jpg');
  z-index:-1;
  background-size: cover;
}

.video-docker video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.video-content {
  z-index: 2;
}
@media only screen and (max-width: 767px) {
  .video-container-height{
    height: 274px;
  }
}
@media only screen and (min-width: 768px) {
  .video-container-height{
    height: 400px;
  }
}
@media only screen and (min-width: 1024px) {
  .video-container-height{
    height: 550px;
  }
}


.card-carousel-image {
  height:200px;
  width:375px;
}
@keyframes clients-scroll {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translateX(calc(-250px * 7));
	}
}
.slider {
	 background: white;
	 box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	 height: 100px;
	 margin: auto;
	 overflow: hidden;
	 position: relative;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
 .slider::after {
	 right: 0;
	 top: 0;
	 transform: rotateZ(180deg);
}
 .slider::before {
	 left: 0;
	 top: 0;
}
.slider .slide-track {
  animation: clients-scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.carousel-content.show-1 > * {
    width: 100%;
}
.carousel-content.show-2 > * {
    width: 50%;
}

.carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}

.left-arrow, .right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ddd;
}

.left-arrow {
    left: 24px;
}
.right-arrow {
    right: 24px;
}
@media only screen and (max-width: 767px) {
  .left-arrow {
      left: 12px;
  }
  .right-arrow {
      right: 12px;
  }
}
